* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f8fafc;
  --text-color: #1e293b;
  --header-bg: #cad2de;
  --secondary-bg: #8692a4;
  --btn-bg: #3b82f6;
  --btn-hover-bg: #204f9b;
  --btn-text: #ffffff;
  --toggle-bg: #94a3b8;
  --toggle-circle: #ffffff;
}

.dark-theme {
  --bg-color: #0f172a;
  --text-color: #e2e8f0;
  --header-bg: #1e293b;
  --secondary-bg: #354359;
  --btn-bg: #14b8a6;
  --btn-hover-bg: #0d6a5f;
  --btn-text: #0f172a;
  --toggle-bg: #475569;
  --toggle-circle: #0f172a;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

#root,
.page-layout {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 1rem;
}

a {
  cursor: pointer;
  color: var(--btn-bg);
}

/* Button */

.clickable {
  cursor: pointer;
}

.btn {
  padding: 5px 10px;
  font-size: 1em;
  background: var(--btn-bg);
  color: var(--btn-text);
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background: var(--btn-hover-bg);
  color: var(--btn-text);
}

.btn:active {
  background: var(--btn-text);
  color: var(--btn-bg);
}

/* Bar */

.bar {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  align-items: center;
  font-size: 1em;
}

/* Icon */

.small-icon {
  width: 1em;
  height: 1em;
}

.medium-icon {
  width: 1.5em;
  height: 1.5em;
}

.large-icon {
  width: 2em;
  height: 2em;
}

.button-icon {
  cursor: pointer;
  border-radius: 50%;
  font-size: 1em;
  padding: auto;
  background: var(--btn-text);
  color: var(--btn-bg);
  transition: background 0.3s, color 0.3s;
}

.button-icon:hover {
  background: var(--btn-bg);
  color: var(--btn-text);
}

/* List */

.list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* Dropdown */

.dropdown-arrow-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.dropdown-arrow-right {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.dropdown-header {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--header-bg);
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  padding-right: 0;
  gap: 1rem;
  border-bottom: 2px solid var(--header-bg);

  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dropdown-content.hidden {
  opacity: 0;
  display: none;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above its final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at its normal position */
  }
}

/* Block */

.block {
  background-color: var(--header-bg);
  border-radius: 8px;
  padding: 0.75rem;
}

/* Utility */

.no-gap {
  gap: 0;
}

.medium-gap {
  gap: 1em;
}

.one-line {
  white-space: nowrap;
}

.primary-color {
  color: var(--btn-bg);
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
